:root {
    /* scale for 1.2 */
    --width-result-img: auto;
    --height-result-img: 30vh;
}

img{
        width: var(--width-result-img);
        height: var(--height-result-img);
        margin: 5px;
        border: 1px solid #F4F4F4;
        border-radius: 2%;
}


body{
    background-color:#F4F4F4;
    padding: 0px;
    margin :0px;
    font-family: 'Nunito Sans', sans-serif;
}

input {
    outline: none;
    color:#61696c;
    font-family: 'Nunito Sans', sans-serif;
    font-size:1.5rem;
}
input::placeholder {
    color: #bebebe;
}
.app__body{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #f2f3f7;
}
.app__header{
    display: flex;
    align-items: center;
    position: relative;
    top: 10px;
    padding: 5px;
    border-radius: 5px;
    background: #F4F4F4;
    width: 90vw;
    box-shadow: 5px 5px 9px #bebebe,
    -5px -5px 9px #ffffff;
}
.app__feedback{
    display: flex;
    flex-direction: column;
    padding: 5px;
}
.last--item{
    position: fixed;
    right:10px;
    top:10px;
}
.card__results{
    padding: 2px;
    margin-top: 20px;
    background-color: #f2f3f7;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow-y: auto;
}
.search__input{
    width:100%;
    padding: 2px;
    border: none;
    margin: 2px;
    height: 50px;
}
.break {
    flex-basis: 100%;
    height: 0;
}
.infinite__scroll{
    padding: 20px;
    font-size: 1.2rem;
    font-weight: bold;
}
.simple__flex--row{
    display: flex;
    justify-content: space-between;
}
.simple__flex--column{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
}
